@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Fredoka:wght@300&family=Ubuntu&display=swap');

* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
  margin-top: 20px;
}
.flex-date {
  display: flex;
  justify-content: space-around;
}
.bottom {
  background-color: #64a3df;
}
@font-face {
    font-family: 'Comfortaa', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Fredoka:wght@300&family=Ubuntu&display=swap');
}
